h1 {
	font-size: 27pt;
	position: absolute;
	top: 0px;
	right: 10%;
	width: 55%;
	text-align: right;
}

h2 {
	font-size: 27pt;
	text-align: center;
	padding-top: 8px;
	margin-top: 0px;
}

h3 {
	background: #3030FF;
	font-size: 20pt;
	color: white;
	padding-left: 10px;
	font-weight: normal;
}

h4 {
	background: #202050;
	font-size: 19pt;
	color: lightgreen;
	padding-left: 10px;
	font-weight: normal;
}

a {
	color: lightgreen;
	font-style: italic;
	text-decoration: none;
}

mark {
	background: #FFFFFF00;
	color: yellow;
	font-style: italic;
}

p {
	font-size: 17pt;
	margin-top: 4px;
	margin-bottom: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

button {
	background-color: #8080A0;
	border-color: #101060;
	color: #000000;
	font-size: 17pt;
	padding: 0px;
}

body {
	background: #111111;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

div {
	position: relative;
	top: 0px;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	background: #00000A;
	color: #FFFFFF;
}

span {
	display: inline-block;
	width: 10pt;
}

.docs {
	padding-top: 0px;
	padding-bottom: 0px;
}
