fn main() -> Result<(), Box<dyn std::error::Error>> {
    // Compile proto files when you're ready
    // Uncomment and customize the code below:
    //
    // tonic_build::configure()
    //     .build_server(true)
    //     .build_client(true)
    //     .compile(&["proto/service.proto"], &["proto"])?;

    Ok(())
}
