/* GENERAL */

.center-text {
    text-align: center;
}

.full-width {
    width: 100%;
}

table tr.separator {
    height: 1rem;
}


/* CLOCK */

svg .clock-circle {
    fill: transparent;
    stroke: var(--clock-svg-circle-color, var(--colorNeutralForeground1, black));
    stroke-width: 0.2;
}

svg .clock-zero-val-circle {
    fill: transparent;
    stroke: var(--clock-svg-zero-val-circle-color, var(--colorPaletteRedBackground3, red));
    stroke-width: 0.2;
}

svg .clock-val-circle {
    fill: transparent;
    stroke: var(--clock-svg-val-circle-color, var(--colorNeutralForeground1, black));
    stroke-width: 0.2;
    stroke-dasharray: 1, 4;
}

svg .clock-hand-path {
    fill: transparent;
    stroke: var(--clock-svg-hand-color, var(--colorNeutralForeground1, black));
    stroke-width: 0.2;
}

svg .clock-head-circle {
    fill: var(--clock-svg-hand-color, var(--colorNeutralForeground1, black));
    stroke: var(--clock-svg-hand-color, var(--colorNeutralForeground1, black));
    stroke-width: 0.2;
}

svg .tick-label {
    fill: var(--clock-svg-tick-color, var(--colorNeutralForeground1, black));
    text-anchor: middle;
    dominant-baseline: middle;
}


/* TREE */

svg .tree-path {
    fill: transparent;
    stroke-width: 0.2;
}

/* TODO: Take these colors out and use the palette crate instead (maybe css, probably not) */

svg .tree-path-default {
    stroke: var(--tree-path-default, var(--colorNeutralForeground1, black));
}

svg .tree-path-combined {
    stroke: var(--tree-path-combined, #2040C0);
}

svg .tree-path-color-0 {
    stroke: var(--tree-path-color-0, #FF9000);
}

svg .tree-path-color-1 {
    stroke: var(--tree-path-color-1, #00FF90);
}

svg .tree-path-color-2 {
    stroke: var(--tree-path-color-2, #9000FF);
}

svg .tree-path-color-3 {
    stroke: var(--tree-path-color-3, #FF9090);
}

svg .tree-path-color-4 {
    stroke: var(--tree-path-color-4, #90FF90);
}

svg .tree-path-color-5 {
    stroke: var(--tree-path-color-5, #9090FF);
}

svg .tree-path-solid {
    stroke-dasharray: none;
}

svg .tree-path-dashed {
    stroke-dasharray: 1, 4;
}

svg .tree-zero-val-level {
    fill: transparent;
    stroke: var(--tree-svg-zero-val-level-color, var(--colorPaletteRedBackground3, red));
    stroke-width: 0.2;
}

svg .tree-val-level {
    fill: transparent;
    stroke-width: 0.2;
    stroke-dasharray: 1, 1;
    stroke: var(--tree-path-default, var(--colorNeutralForeground1, black));
}

/* EUCLIDEAN */

svg .euclidean-convex-hull {
    fill: var(--euclidean-svg-convex-hull-color, var(--colorNeutralForeground1, black));
}

svg .euclidean-dot {
    fill: var(--euclidean-svg-convex-hull-color, var(--colorNeutralForeground1, black));
}

svg .euclidean-enclosing-disk {
    fill: transparent;
    stroke: var(--euclidean-svg-enclosing-disk-color, var(--colorNeutralForeground1, black));
    stroke-width: 0.1;
    stroke-dasharray: 0.3, 2;
}

svg .euclidean-zero-val-hull {
    fill: transparent;
    stroke: var(--euclidean-svg-zero-val-hull-color, var(--colorPaletteRedBackground3, red));
    stroke-width: 0.2;
}

svg .euclidean-val-hull {
    fill: transparent;
    stroke-width: 0.2;
    stroke-dasharray: 1, 1;
    stroke: var(--euclidean-svg-convex-hull-color, var(--colorNeutralForeground1, black));
}


/* GENERAL SHAPE CARDS */

.thaw-card .shape-card {
    display: flex;
    flex-direction: vertical;
}

.shape-card-header {
    flex: 1;
}

.shape-card-preview {
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.shape-card-footer {
    flex: 2;
}


/* CARD SETTINGS */

.shape-card-settings-button {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    left: 0px;
    min-width: 0px !important;
    z-index: 2;
}

.shape-card-settings-menu {
    z-index: 1;
}


/* INTERACTIVE */

.interactive-2-menu {
    float: left;
    width: 50%;
}

.interactive-fieldset {
    border: 1px groove;
    border-color: var(--color-dark-grey, #444444);
}

.interactive-select > select {
    width: 100%;
}

/* Styling auto popovers */

[popover="auto"] {
    inset: unset;
    position: absolute;
    bottom: calc(anchor(top) + 20px);
    justify-self: anchor-center;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #999;
    border: none;
    background: var(--colorNeutralBackground1, #222222);
}


/* OPERATION */

.op-table {
    height: 20px;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.operation-fieldset {
    border: 1px groove;
    border-color: var(--color-dark-grey, #444444);
}

.eq-svg {
    flex: 0;
    min-width: 5rem;
    min-height: 5rem;
    margin: auto 1rem;
    stroke: var(--colorNeutralForeground1, black);
    stroke-width: 1px;
    fill: none;
}


/* REAL PROJECTION */

._chartistry > svg text {
    fill: white;
}

._chartistry_tooltip {
    background-color: var(--colorNeutralBackground1, #222222) !important;
}
