.collapse-card {
    padding: 0rem;
    width: 100%;
}

.collapse-header-flex {
    width: 100%;
}

.collapse-header-button {
    flex: 1;
}

.collapse-header-pm {
    min-width: 3rem;
    flex: 0;
}

.collapse-content {
    overflow: hidden;
}
