/*** Colors ***/
:root {

    --color-light-1: #A4C0CC;
    --color-light-2: #425962;
    --color-color-1: #713A52;
    --color-color-2: #9C8945;
    --color-color-3: #A45477;
    --color-dark: #1F1218;
    --color-dark-grey: #444444;
    --color-grey: #7F7F7F;
    --color-back: var(--color-dark);
    --color-font: var(--color-light-1);

    --color-rd-1: #B47C40;
    --color-rd-2: #E5773D;
    --color-rd-3: #CB4C47;
    --color-rd-4: #96413D;
    --color-rd-5: #C6362A;
    --color-rd-6: #F6A6B2;
    --color-rd-7: #FF5533;
    --color-rd-8: #FF5F9F;

    --color-gr-1: #B0C870;
    --color-gr-2: #49c907;
    --color-gr-3: #606C38;
    --color-gr-4: #B0C830;

    --color-bl-1: #50c5cc;
    --color-bl-2: #1eb4f5;
    --color-bl-3: #0A9396;

    --color-br-1: #EE9B00;
    --color-br-2: #CA6702;
    --color-br-3: #BB3E03;
    --color-br-4: #AE2012;

    --color-yl-1: #C7C72F;

}

html{
    /* Fix this for light theme */
    background-color: #292929;
}

/* This is so the top-level div is at least 100% of the screen */
html, body {
    height: 100%;
}
.top-config {
    min-height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    overflow-y: scroll;
    max-width: 100rem;
    margin: auto;
}

a {
    color: var(--color-color-2);
}

.boxed-section {
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
    margin: 0.3rem;
    box-shadow: inset 0rem 0rem 0rem 0.15rem var(--color-light-1);
}



.debug-outline {
    border: solid;
    border-color: red;
}



/*** Clocks ***/
.clock {
    width: 500px;
}

/*** Trees ***/
.tree {
    width: 500px;
}

/*** Euclideans ***/
.euclidean {
    width: 500px;
}


/*** Thaw **/

.thaw-config-provider {
    padding: 1rem;
}

.thaw-card-preview {
/*    border: solid;*/
/*    border-color: red;*/
/*    padding: auto;*/
/*    margin: auto;*/
    padding: 1rem;
/*    margin: 0;*/
}
