<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Hello!</h1>

        <form action="/chat" method="get">
            <input type="text" name="room" placeholder="room">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="id" placeholder="id">
            <input type="submit" value="send">
        </form>
    </body>
</html>