/target
/releases

# GENERAL
**/build/*
**/*.log

# EDITOR
.VSCodeCounter
.idea
.nvim
.vimspector.json
**/clangd
**/compile_commands.json

# PYTHON
**/__pycache__
**/**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
.hypothesis
**/try.py
**/celerybeat-schedule
dist/
out/
wheels/
**/*.ju.py
**/.ipynb_checkpoints/
**/.mypy_cache
venv/
.venv/
**/*.whl

# AI
lightning_logs/
runs/
.aider*
**/*.onnx
**/*.pt
**/*.pkl
**/*.npy

# NODE JS TS
**/node_modules
out/
dist/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# CPP
.cache
**/.ccls-cache
doxygen
compile-commands.json
CMakeCache.txt
CMakeFiles
**/*.dll

# SOLIDITY
**/cache
**/artifacts
**/*coverage*
**/@openzeppelin/*
**/gasReporterOutput.json

# DB
**/*.db

# SUBMODULES


/.claude
