[Desktop Entry]
Name=AntiAFK-RBX-Sober
Comment=AntiAFK application for Sober on Linux
Exec=AntiAFK-RBX-Sober
Icon=AntiAFK-RBX-Sober
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=dev.agzes.antiafk-rbx-sober
Keywords=Roblox;Sober;AntiAFK;
