svg .tree-path {
    fill: transparent;
    stroke: var(--tree-path, black);
    stroke-width: 0.3;
}

svg .gold-path {
    fill: transparent;
    stroke: var(--gold-path, darkorange);
    stroke-width: 0.5;
}
