wasm := "target/wasm32-wasip2/release/{{ wasm_filename }}"
{% raw %}
act := env("ACT", "npx @actcore/act")
actbuild := env("ACT_BUILD", "npx @actcore/act-build")

build:
    cargo build --release

pack: build
    {{actbuild}} pack {{wasm}}

test: pack
    {{act}} call {{wasm}} hello --args '{"name":"act"}'
{% endraw %}
